.main {
	&-form {
		form {
			width: fit-content;
			display: block;
		}

		position: relative;
		background:
			url("/form-bg.webp") top center / cover no-repeat,
			#061651;
		padding-top: 40px;

		img {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: calc(100% - ((100% - 1230px) / 2 + 773px));
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: left top;
			object-position: left top;
		}

		h5 {
			color: #fff;

			font-size: 28px;
			font-style: normal;
			font-weight: 800;
			line-height: 100%; /* 28px */
			text-transform: uppercase;

			.outlined-text {
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: 1px #fff;
			}
		}
		p {
			color: white;
			margin-top: 8px;
		}

		button {
			margin-top: 40px;
			background: #ffcc1b;
		}
	}

	&-form__top {
		position: relative;
		padding-bottom: 14px;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #ffcc1b;
		}
	}

	&-form__fields {
		margin-top: 25px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 20px;
		width: 100%;
	}
}
