.about {
	&-section {
		background:
			linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
			url("/aboutBg.png") lightgray 50% / cover no-repeat;
	}
}

.sectors {
	h1 {
		color: #061651;
		font-size: 72px;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}
}

.about {
	&-advantages__title {
		display: flex;
		align-items: flex-start;
		h2 {
			color: #061651;
			font-size: 96px;
			font-weight: 800;
			line-height: 100%;
			text-transform: uppercase;
		}
	}
	&-advantages__list {
		margin-top: 64px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 50px;
		row-gap: 90px;
		width: fit-content;

		li {
			max-width: 340px;
		}

		h5 {
			color: #061651;
			font-size: 24px;
			font-weight: 900;
			line-height: 140%; /* 33.6px */
			text-transform: uppercase;
			position: relative;
			padding-bottom: 14px;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: #ffcc1b;
			}
		}

		p {
			margin-top: 14px;
			color: #061651;
		}
	}
}
