.law {
	&-section {
		background:
			linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
			url("/lawBg.png") lightgray 50% / cover no-repeat;
	}

	&-advantages {
		h3 {
			color: #061651;
			text-align: justify;
			font-family: "Helvetica Neue";
			font-size: 36px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -1.8px;
			text-indent: 30px;
		}

		.yellow-text {
			color: #e5bc00;
		}
	}

	&-advantages__flex {
		margin-top: 40px;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		img {
			max-width: 400px;
			width: 100%;
			height: auto;
		}
	}

	&-advantages__list {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&:nth-child(2) {
			margin-top: 40px;
		}

		h5 {
			color: #061651;
			font-size: 28px;
			font-weight: 800;
			line-height: normal;
			letter-spacing: -1.4px;
			text-transform: uppercase;
		}

		li {
			display: flex;
			align-items: center;
			gap: 8px;

			p {
				color: #061651;
				font-family: "Helvetica Neue";
				font-size: 19px;
				letter-spacing: -0.95px;
			}
		}
	}
}
