@import "./fonts/font.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

button,
a {
  padding: 0;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

img {
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

p {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

button {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 16px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input,
textarea {
  outline: none;
  resize: none;
  display: flex;
  padding: 11px 80px 11px 14px;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.5);

  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &::placeholder {
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
}

textarea {
  min-height: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.outlined-text {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px #061651;
  font-family: "Helvetica Neue";
  font-style: normal;
  text-transform: uppercase;
}

.section {
  margin-top: 190px;
  padding-bottom: 50px;
}

.font-bold {
  font-weight: bold;
}

.outlined {
  font-family: "Helvetica Neue";
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}

.col-span-2 {
  grid-column: span 2;
}

a {
  color: #fff;
  &:hover {
    color: white;
  }
}
