.main {
	&-section {
		position: relative;
		height: 100%;
		@media screen and (min-width: 1560px) {
			padding-bottom: 80px;
		}
		@media screen and (max-width: 1560px) {
			padding-bottom: 60px;
		}
		background:
			linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
			url("/mainSection.png") lightgray 50% / cover no-repeat;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: url("/mainSectionLeft.png") center / cover no-repeat;
			opacity: 80%;
			z-index: 0;
			@media screen and (min-width: 1560px) {
				width: calc(100% - 40%);
			}
			@media screen and (max-width: 1560px) {
				width: calc(100% - 35%);
			}
		}

		&::after {
			content: "";
			position: absolute;
			background: url("/mainSectionRight.png") center / cover no-repeat;
			height: 100%;
			opacity: 80%;
			top: 0;
			right: 0;
			z-index: 0;
			@media screen and (min-width: 1560px) {
				width: calc(100% - 50%);
			}
			@media screen and (max-width: 1560px) {
				width: calc(100% - 40%);
			}
		}
	}
	&-inner {
		position: relative;
		z-index: 1;
	}
	&-title {
		color: #fff;
		text-align: center;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: -6px;
		text-transform: uppercase;
	}

	&-bg__mask {
		position: absolute;
		top: 61%;
		left: 52%;
		z-index: 1;
		transform: translate(-50%, -50%);
	}

	&-offer {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@media screen and (min-width: 1560px) {
			margin-top: 90px;
		}
		@media screen and (max-width: 1560px) {
			margin-top: 70px;
		}
	}

	&-offer__list {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1560px) {
			gap: 40px;
		}
		@media screen and (max-width: 1560px) {
			gap: 30px;
		}
		h4 {
			color: #ffcc1b;
			font-family: "Helvetica Neue";
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			text-decoration: underline;
			text-underline-offset: 10px;
		}
		p {
			margin-top: 1rem;
			color: #fff;
			max-width: 330px;
		}
	}
	&-offer__right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		h4 {
			color: #fff;
			text-align: right;
			font-family: "Helvetica Neue";
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: 140%; /* 28px */
			text-transform: uppercase;
			max-width: 250px;
		}
		p {
			color: #fff;
			margin-top: 10px;
			max-width: 340px;
			text-align: right;
		}
	}
	&-offer__button {
		margin-top: 26px;
		background-color: #fff;
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 18px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		text-transform: uppercase;
		display: flex;
		padding: 16px 68px;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
}

.advantages {
	&-flex {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 50px;
		position: relative;
	}
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 96px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		position: absolute;
		bottom: 15px;
		right: 0;
		max-width: 610px;
	}

	&-list__one {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #d9d9d9;
		}
		p {
			color: #000;
			line-height: 130%;
		}
	}

	&-list__count {
		color: #1a1919;
		font-family: "Helvetica Neue";
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: 160%; /* 38.4px */
		text-transform: uppercase;
	}
}

.features {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}

	video {
		margin-top: 48px;
		width: 100%;
		height: 527px;
		object-fit: cover;
	}
}

.prices {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}
	p {
		display: block;
		margin: 0 auto;
		margin-top: 12px;
		color: #1a1919;
		text-align: center;
		max-width: 550px;
	}

	&-list {
		margin-top: 140px;
		display: grid;
		align-items: stretch;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 21px;
	}

	&-list__one {
		border: 6px solid #ebebeb;
		padding: 20px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: -160px;
			transform: translateX(-50%);
		}

		h4 {
			margin-top: 110px;
			color: #061651;
			text-align: center;
			font-family: "Helvetica Neue";
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%; /* 41.6px */
		}

		li {
			color: #061651;
		}
	}

	&-list__special {
		background: #ffcc1b;
		border: none;
	}

	&-list__inner {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-top: 20px;

		li {
			display: flex;
			align-items: stretch;
			gap: 8px;

			svg {
				flex: 0 0 auto;
			}
		}
	}
}

.feedback {
	margin-top: calc(190px + 80px);
	background:
		url("/feedbackBg.webp") top center / cover no-repeat,
		#061651;
	position: relative;

	h3 {
		color: #fff;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		text-transform: uppercase;
	}

	h4 {
		color: white;
		.outlined-text {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 2px #fff;
		}
	}

	&-right__h3 {
		margin-top: 40px;
		text-align: right;
	}

	.transparent-text {
		background:
			url("/feedbackBg.webp") top center / cover no-repeat,
			#061651;
		position: absolute;
		-webkit-background-clip: text !important;
		color: transparent;
		background-size: cover;
		white-space: nowrap;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		line-height: 80%; /* 68.4px */
		text-transform: uppercase;
		top: -85px;
	}
	&-info {
		margin-top: 100px;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}

	&-info__top {
	}

	&-info__one {
		max-width: 530px;
		position: relative;
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&::before {
			content: "";
			height: 100%;
			width: 4px;
			position: absolute;
			top: 0;
			left: 0;
			background: #ffcc1b;
		}

		h4 {
			color: #fff;
			font-family: "Helvetica Neue";
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%; /* 31.2px */
		}
		p {
			margin-top: 8px;
			color: white;
		}
		img {
			margin-top: 15px;
		}
	}

	&-trusted {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: 48px;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10px;

			max-width: 150px;

			p {
				text-align: center;
				color: white;
				text-transform: capitalize;
			}
		}
	}
}

.map {
	h3 {
		color: #101c47;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}

	img {
		width: 100%;
		object-fit: cover;
		height: auto;
	}
}

.sectors {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 96px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		width: 100%;
		display: block;
		span {
			text-align: justify;
		}
		.text-justify {
			position: relative;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			z-index: 1;
		}
	}

	&-title {
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
