.main {
	&-section {
		position: relative;
		min-height: 100dvh;
		height: 100%;
		@media screen and (min-width: 1560px) {
			padding-bottom: 80px;
		}
		@media screen and (max-width: 1560px) {
			padding-bottom: 60px;
		}
		background:
			linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
			url("/mainSection.png") lightgray 50% / cover no-repeat;

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 40%;
		// 	background: url("/mainSectionLeft.png") center / cover no-repeat;
		// 	opacity: 80%;
		// 	bottom: 0;
		// 	z-index: 0;
		// 	@media screen and (max-width: 1024px) {
		// 		bottom: 50%;
		// 		right: 0;
		// 	}
		// 	@media screen and (max-width: 768px) {
		// 	}
		// }

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	background: url("/mainSectionRight.png") center / cover no-repeat;
		// 	opacity: 80%;
		// 	left: 45%;
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	z-index: 0;
		// 	@media screen and (max-width: 1024px) {
		// 		top: 50%;
		// 	}
		// 	@media screen and (max-width: 768px) {
		// 	}
		// }
	}
	&-inner {
		position: relative;
		z-index: 1;
		min-height: 75dvh;
	}
	&-title {
		color: #fff;
		text-align: center;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: -6px;
		text-transform: uppercase;

		@media screen and (max-width: 1024px) {
			font-size: 80px;
			letter-spacing: -1px;
		}

		@media screen and (max-width: 768px) {
			font-size: 32px;
			letter-spacing: -1.6px;
		}
	}

	&-bg__mask {
		position: absolute;
		top: 61%;
		left: 52%;
		transform: translate(-50%, -50%);
		z-index: 1;
		object-fit: cover;
		@media screen and (max-width: 1024px) {
			width: 70%;
			height: 70%;
		}
		@media screen and (max-width: 768px) {
			top: 25%;
			width: 50vw;
			height: auto;
		}
	}

	&-offer {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@media screen and (min-width: 1560px) {
			margin-top: 90px;
		}
		@media screen and (max-width: 1560px) {
			margin-top: 70px;
		}
		@media screen and (max-width: 768px) {
			position: absolute;
			bottom: 0;
			right: 15px;
			left: 15px;
		}
	}

	&-offer__list {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1560px) {
			gap: 40px;
		}
		@media screen and (max-width: 1560px) {
			gap: 30px;
		}

		@media screen and (max-width: 1024px) {
			gap: 20px;
		}
		@media screen and (max-width: 768px) {
			gap: 10px;
		}

		h4 {
			color: #ffcc1b;
			font-family: "Helvetica Neue";
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			text-decoration: underline;
			text-underline-offset: 10px;
			@media screen and (max-width: 1024px) {
				font-size: 16px;
			}
			@media screen and (max-width: 768px) {
				font-size: 14px;
			}
		}
		p {
			margin-top: 1rem;
			color: #fff;
			max-width: 330px;
		}
	}
	&-offer__right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media screen and (max-width: 768px) {
			justify-content: flex-end;
		}

		h4 {
			color: #fff;
			text-align: right;
			font-family: "Helvetica Neue";
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: 140%; /* 28px */
			text-transform: uppercase;
			max-width: 250px;
			@media screen and (max-width: 1024px) {
				font-size: 16px;
			}
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		p {
			color: #fff;
			margin-top: 10px;
			max-width: 340px;
			text-align: right;
			@media screen and (max-width: 1024px) {
				font-size: 16px;
			}
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
	&-offer__button {
		margin-top: 26px;
		background-color: #fff;
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 18px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		text-transform: uppercase;
		display: flex;
		padding: 16px 68px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		@media screen and (max-width: 1024px) {
			padding: 12px 58px;
			font-size: 16px;
		}
		@media screen and (max-width: 768px) {
			padding: 12px 48px;
			font-size: 16px;
		}
	}
}

.advantages {
	&-flex {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 50px;
		position: relative;
		@media screen and (max-width: 1024px) {
			flex-direction: column-reverse;
			gap: 40px;
		}
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			gap: 40px;
		}
	}

	&-flex__img {
		@media screen and (max-width: 1024px) {
			font-size: 54px;
		}

		@media screen and (max-width: 1024px) {
			width: 104px;
			height: 55px;
			position: absolute;
			bottom: 0;
			right: 20px;
		}
	}
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 96px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 54px;
		}

		@media screen and (max-width: 768px) {
			font-size: 28px;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		max-width: 610px;
		@media screen and (min-width: 1024px) {
			position: absolute;
			bottom: 15px;
			right: 0;
		}
		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}
	}

	&-list__img {
		@media screen and (max-width: 768px) {
			width: 100%;
			height: auto;
		}
	}

	&-list__one {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		position: relative;
		@media screen and (max-width: 1024px) {
			gap: 17px;
		}
		@media screen and (max-width: 768px) {
			gap: 14px;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #d9d9d9;
		}
		p {
			color: #000;
			line-height: 130%;
		}
	}

	&-list__count {
		color: #1a1919;
		font-family: "Helvetica Neue";
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: 160%; /* 38.4px */
		text-transform: uppercase;
	}
}

.features {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 42px;
		}
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}

	video {
		margin-top: 48px;
		width: 100%;
		height: 527px;
		object-fit: cover;
		@media screen and (max-width: 1024px) {
			margin-top: 38px;
			height: auto;
		}
		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}
	}
}

.prices {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 42px;
		}
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}
	p {
		display: block;
		margin: 0 auto;
		margin-top: 12px;
		color: #1a1919;
		text-align: center;
		max-width: 550px;
		@media screen and (max-width: 768px) {
			margin-top: 8px;
		}
	}

	&-list {
		margin-top: 140px;
		display: grid;
		align-items: stretch;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 21px;
		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			row-gap: 100px;
			margin-top: 100px;
		}
	}

	&-list__one {
		border: 6px solid #ebebeb;
		padding: 20px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: -160px;
			transform: translateX(-50%);
			@media screen and (max-width: 768px) {
				width: 151px;
				height: 151px;
				height: auto;
				top: -100px;
			}
		}

		h4 {
			margin-top: 110px;
			color: #061651;
			text-align: center;
			font-family: "Helvetica Neue";
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%; /* 41.6px */
			@media screen and (max-width: 1024px) {
				font-size: 24px;
			}
			@media screen and (max-width: 768px) {
				font-size: 18px;
			}
		}

		li {
			color: #061651;
		}
	}

	&-list__special {
		background: #ffcc1b;
		border: none;
	}

	&-list__inner {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-top: 20px;

		li {
			display: flex;
			align-items: stretch;
			gap: 8px;

			svg {
				flex: 0 0 auto;
			}
		}
	}
}

.feedback {
	margin-top: calc(190px + 80px);
	background:
		url("/feedbackBg.webp") top center / cover no-repeat,
		#061651;
	position: relative;

	@media screen and (max-width: 1024px) {
		margin-top: calc(140px + 60px);
	}

	h3 {
		color: #fff;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 60px;
		}
		@media screen and (max-width: 768px) {
			font-size: 32px;
		}
	}

	h4 {
		color: white;
		.outlined-text {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 2px #fff;
		}
	}

	&-right__h3 {
		margin-top: 40px;
		text-align: right;
	}

	.transparent-text {
		background:
			url("/feedbackBg.webp") top center / cover no-repeat,
			#061651;
		position: absolute;
		-webkit-background-clip: text !important;
		color: transparent;
		background-size: cover;
		white-space: nowrap;
		font-family: "Helvetica Neue";
		font-size: 120px;
		font-style: normal;
		font-weight: 900;
		line-height: 80%; /* 68.4px */
		text-transform: uppercase;
		top: -85px;
		@media screen and (max-width: 1024px) {
			font-size: 60px;
			top: -50px;
		}
		@media screen and (max-width: 768px) {
			font-size: 32px;
			top: -20px;
		}
	}
	&-info {
		margin-top: 100px;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			margin-top: 70px;
			flex-direction: column;
			gap: 70px;
		}
		@media screen and (max-width: 768px) {
			margin-top: 40px;
			gap: 40px;
		}
	}

	&-info__top {
	}

	&-info__one {
		max-width: 530px;
		position: relative;
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&::before {
			content: "";
			height: 100%;
			width: 4px;
			position: absolute;
			top: 0;
			left: 0;
			background: #ffcc1b;
		}

		h4 {
			color: #fff;
			font-family: "Helvetica Neue";
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%; /* 31.2px */
			@media screen and (max-width: 1024px) {
				font-size: 20px;
			}
			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}
		p {
			margin-top: 8px;
			color: white;
		}
		img {
			margin-top: 15px;
			@media screen and (max-width: 1024px) {
				height: 40px;
				width: fit-content;
				object-fit: cover;
			}
			@media screen and (max-width: 768px) {
				height: 34px;
			}
		}
	}

	&-trusted {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 48px;

		@media screen and (max-width: 1024px) {
			align-items: flex-start;
			margin-top: 28px;
			gap: 20px;
			justify-content: flex-start;
		}
		@media screen and (max-width: 768px) {
			margin-top: 18px;
		}

		li {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10px;
			max-width: 150px;
			@media screen and (max-width: 768px) {
				max-width: 105px;
				flex-grow: 1;
			}
			img {
				@media screen and (max-width: 1024px) {
					height: 40px;
					width: fit-content;
					object-fit: cover;
				}
				@media screen and (max-width: 768px) {
					height: 34px;
				}
			}
			p {
				text-align: center;
				color: white;
				text-transform: capitalize;
			}
		}
	}
}

.map {
	h3 {
		color: #101c47;
		font-family: "Helvetica Neue";
		font-size: 72px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 42px;
		}
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}

	img {
		width: 100%;
		object-fit: cover;
		height: auto;
		@media screen and (max-width: 1024px) {
			margin-top: 20px;
		}
	}
}

.sectors {
	h3 {
		color: #061651;
		font-family: "Helvetica Neue";
		font-size: 96px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		width: 100%;
		display: block;
		span {
			text-align: justify;
		}
		.text-justify {
			position: relative;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			z-index: 1;
		}
	}

	&-title {
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
