.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: 10px;
	@media screen and (min-width: 1560px) {
		padding-bottom: 4rem;
	}
	@media screen and (max-width: 1560px) {
		padding-bottom: 3rem;
	}
	z-index: 1;

	&-list {
		display: flex;
		align-items: center;
		gap: 32px;
		@media screen and (max-width: 1024px) {
			gap: 16px;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}

		a {
			color: #fff;
			font-family: "Helvetica Neue";
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;
			position: relative;

			transition: all 0.3s;

			&::before {
				content: "";
				position: absolute;
				top: 0px;
				left: -4px;
				width: 3px;
				height: 100%;
				background: currentColor;
			}

			&:hover {
				color: #ffcc1b;
			}
		}

		.active {
			color: #ffcc1b;
		}
	}
}
