.main {
	&-form {
		& form {
			width: fit-content;
			display: block;
		}

		position: relative;
		background:
			url("/form-bg.webp") top center / cover no-repeat,
			#061651;
		padding-top: 40px;

		img {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: calc(100% - ((100% - 1230px) / 2 + 773px));
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: left top;
			object-position: left top;
			@media screen and (max-width: 1024px) {
				display: none;
			}
		}

		h5 {
			color: #fff;

			font-size: 28px;
			font-style: normal;
			font-weight: 800;
			line-height: 100%; /* 28px */
			text-transform: uppercase;

			.outlined-text {
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: 1px #fff;
			}
			@media screen and (max-width: 1024px) {
				font-size: 24px;
			}
			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}
		p {
			color: white;
			margin-top: 8px;
		}
	}

	&-form__top {
		position: relative;
		padding-bottom: 14px;
		margin-bottom: 25px;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #ffcc1b;
		}
	}

	&-form__fields {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 20px;
		width: 100%;
		input {
			@media screen and (max-width: 768px) {
				grid-column: span 2 / span 2;
			}
		}
	}
}

form {
	p {
		color: white;
	}

	button {
		color: white;
		margin-top: 40px;
		background: #ffcc1b;
	}

	.radio {
		display: flex;
		flex-direction: column;
		gap: 8px;

		input {
			display: none;
		}

		p {
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 14px;
		}

		label {
			cursor: pointer;
		}

		& input[type="radio"] + label {
			text-indent: 25px;
			font-weight: 400;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				background: url("/notChecked.svg") center no-repeat;
				height: 20px;
				width: 20px;
			}

			&::after {
				content: "";
				position: absolute;
				background: transparent;
				height: 20px;
				width: 20px;
				border-radius: 50%;
			}
		}

		& input[type="radio"]:checked + label {
			text-indent: 25px;
			font-weight: 400;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				background: white url("/check.svg") center no-repeat;
				height: 8px;
				width: 10px;
				top: 10px;
				left: 10px;
				transform: translate(-50%, -50%);
				z-index: 1;
			}

			&::after {
				content: "";
				position: absolute;
				background: white;
				height: 20px;
				width: 20px;
				border-radius: 50%;
			}
		}
	}
}
